::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.serch-input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serch{
 display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.conteiner {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  padding: 0;
}
.list {
  background-color: #324057;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.list--style {
  list-style-type: none;
}
.list--header {
  color: #20a0ff;
  font: bold;
  font-size: large;
}
.alive {
  color: #13ce66;
}
.dead {
  color: #ff4949;
}
.image {
  border-radius: 0px 8px 8px 0px;
}
@media only screen and (max-width: 1053px) {
  .conteiner {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}
