.App {
  text-align: center;
  
}


.conteiner {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px ;
  
}
.list {
  background-color: #324057;
  border-radius: 4px 4px 4px 4px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
}
.list--style {
  list-style-type: none;
}
@media only screen and (max-width: 600px) {
  .conteiner {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
}