.App {
  text-align: center;
  
}


.conteiner {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px ;
  padding: 0;
}
.list {
  background-color: #324057;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  
}
.list--style {
  list-style-type: none;
}
.list--header {
  color: #20A0FF;
  font: bold;
  font-size: large;
}
.alive {
  color: #13CE66;
} 
.dead {
color: #FF4949;
}
.image {
  border-radius:  0px 8px  8px 0px;
}
@media only screen and (max-width: 1053px) {
  .conteiner {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}
}